/**html, body {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
    margin-right: 200px;
}


video {
    display: block;
    width: 100%;
    height: 400px;
    z-index: -100;
    background: url(background_video.mp4);
    overflow: none;
}

.content {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  right: 0;

  color: white;
 
  margin-left: -10px;
  background-color: rgba(191, 191, 190, 0.6);
  padding-bottom: -50px;
  padding-top: -70px;


}
.content .row {

  margin-right: -320px;
  padding-top: -15px;
  margin-top: -150px;
  padding-bottom: -75px;
  padding-top: -75px;


}

.content col-md-6{
    background-color: rgba(191, 191, 190, 0.6);
}
.content ul {
  list-style: none;

}
.content li{
  display: inline-block;
margin-right: 25px;

}

.header p{
margin-left: -150px;

  padding-top: -100px;
  font-size: 30px;
  font: Times;
}

.header img{
  width: 25%;
  border-radius: 75px;
  margin-top: 340px;
  margin-left: -140px;
}

ul{
  list-style-type: none;

}

li{
  display: inline-block;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  background: white;
  text-align: center;
  border-radius: 5px;
  
}
a{
  text-decoration: none;f
  color: rgba(18, 204, 251, 0.6);
}

li.active{
  background: rgba(18, 204, 251, 0.6);
    color: white;
}

li:hover:not(.active){
  background: rgba(18, 204, 251, 0.6);
}

.header h1{
  font: Impact;
text-align: left;
  font-size: 220px;
  font-weight: 600;
  color: rgba(18, 204, 251, 0.6);
 
  margin-left: 0px;
  position: absolute;
  padding-bottom: 300px;
}

.jumbotron h1{
  color: black;
  text-align: center;



  font-size: 70px;
  padding-right: -50px;

}

.jumbotron{
  background-color: rgba(18, 204, 251, 0.6);
  margin-top: 140px;
}
.jumbotron span{
  color: white;
}



.supporting-2 {
  background-color: rgba(18, 204, 251, 0.6);
  padding-left: -50px;
  color: rgba(239, 135, 0, 0.9);
}

  .supporting-2 img{
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;

  }

  .footer p{
    font-size: 8px;
    padding-top: 40px;
    padding-bottom: -10px;
  }**/







html, body {
  margin: 0;
  padding: 0;
}


.container {
  width: 100%;
  margin: 0 auto;
    padding: 0px;
   

}

.header{
   
}

video {
    display: block;
    width: 100%;
   
    z-index: -100;
    background: url(background_video.mp4);
    overflow: none;
}

.content {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  right: 0;

  color: white;
  margin-top: -200px;
  margin-left: -10px;
  background-color: rgba(191, 191, 190, 0.6);
  padding-bottom: -50px;
  padding-top: -70px;


}
.content .row {

/*   margin-right: -320px;
  padding-top: -15px;
  margin-top: -150px;
  padding-bottom: -75px;
  padding-top: -75px; */


}
.content ul {
  list-style: none;
/*   margin-top: -150px;
   */}
.content li{
  display: inline-block;

/* margin-right: 25px;
 */
}

.content p{
/* margin-left: -150px;
 */
  padding-top: -100px;
  font-size: 30px;
  font: Times;
}

.imgCol {
  margin-top: 20px;
  margin-left: 50px;
}
.content img{
  width: 25%;
  border-radius: 100px;
/*   margin-top: 340px;
   margin-left: -140px;*/
}

ul{
  list-style-type: none;

}

li{
  display: inline-block;
  margin-right: 10px;
/*   min-width: 100px;
   */  height: 40px;
  line-height: 145px;
/*   background: white;
   */  text-align: center;
  border-radius: 5px;
 
  
}
a{
  text-decoration: none;
  color: rgba(18, 204, 251, 0.6);
    background-color: white;
}
/* This makes our li blue */
li.active{
  background: rgba(18, 204, 251, 0.6);
    color: white;
}

/* li:hover:not(.active){
  background: rgba(18, 204, 251, 0.6);
} */

.header h1{
  font: Impact;
text-align: left;
  font-size: 220px;
  font-weight: 600;
  color: rgba(18, 204, 251, 0.6);
  margin-top: -250px;
  margin-left: 0px;
  position: absolute;
  padding-bottom: 300px;
}

.jumbotron h1{
  color: black;
  text-align: center;



  font-size: 70px;
  padding-right: -50px;

}

.jumbotron{
  background-color: rgba(18, 204, 251, 0.6);
  margin-top: -5px;
}
.jumbotron span{
  color: white;
}



.supporting-2 {
  background-color: rgba(18, 204, 251, 0.6);
  padding-left: -50px;
  color: rgba(239, 135, 0, 0.9);
}

  .supporting-2 img{
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;

  }

  .footer p{
    font-size: 8px;
    padding-top: 40px;
    padding-bottom: -10px;
  }
